In [3]:
from utils import *

subway_congestion=call_dataframe('weekday_subway')

컬럼명 :  ['연번', '수송일자', '호선', '고유역번호(외부역코드)', '역명', '승하차구분', '6_7', '7_8', '8_9', '9_10', '요일']

In [4]:
subway_congestion_20220103=subway_congestion[subway_congestion["수송일자"]=="2022-01-03"]
subway_congestion_20220103

       연번       수송일자  호선 고유역번호(외부역코드)   역명 승하차구분   6_7   7_8   8_9  9_10  요일
0    1089 2022-01-03   1          150  서울역    승차   433  1782  2545  1708   0
1    1090 2022-01-03   1          150  서울역    하차  1638  3863  8088  4363   0
2    1091 2022-01-03   1          151   시청    승차   103   222   269   253   0
3    1092 2022-01-03   1          151   시청    하차   737  2596  7746  3056   0
4    1093 2022-01-03   1          152   종각    승차    97   177   315   362   0
..    ...        ...  ..          ...  ...   ...   ...   ...   ...   ...  ..
539  1628 2022-01-03   8         2826   수진    하차    79   116   374   193   0
540  1629 2022-01-03   8         2827   모란    승차   115   348   438   224   0
541  1630 2022-01-03   8         2827   모란    하차    95   151   340   183   0
542  1631 2022-01-03   8         2828  남위례    승차   122   481   548   214   0
543  1632 2022-01-03   8         2828  남위례    하차    59   139   419   184   0

[544 rows x 11 columns]

In [5]:
subway_congestion_20220103.nunique()

연번              544
수송일자              1
호선                8
고유역번호(외부역코드)    272
역명              239
승하차구분             2
6_7             403
7_8             476
8_9             506
9_10            460
요일                1
dtype: int64

In [6]:
subway_congestion_20220103.groupby(by="호선").count()

     연번  수송일자  고유역번호(외부역코드)   역명  승하차구분  6_7  7_8  8_9  9_10   요일
호선
1    20    20            20   20     20   20   20   20    20   20
2   100   100           100  100    100  100  100  100   100  100
3    66    66            66   66     66   66   66   66    66   66
4    52    52            52   52     52   52   52   52    52   52
5   112   112           112  112    112  112  112  112   112  112
6    74    74            74   74     74   74   74   74    74   74
7    84    84            84   84     84   84   84   84    84   84
8    36    36            36   36     36   36   36   36    36   36

In [7]:
subway_1=call_dataframe('subway_congestion')

컬럼명 :  ['6시00분', '6시30분', '7시00분', '7시30분', '8시00분', '8시30분', '9시00분', '9시30분', '상하구분', '역번호', '연번', '요일구분', '출발역', '호선']

In [8]:
subway_1

,6시00분,6시30분,7시00분,7시30분,8시00분,8시30분,9시00분,9시30분,상하구분,역번호,연번,요일구분,출발역,호선
0,18.1,18.1,30.9,56.6,69.1,82.7,57.5,52.3,상선,150,1,평일,서울역,1
1,11.0,13.2,21.4,38.0,38.7,24.6,24.0,19.8,하선,150,2,평일,서울역,1
2,15.4,14.7,25.0,42.4,55.0,56.0,44.3,48.2,상선,151,3,평일,시청,1
3,9.1,14.6,20.0,35.4,35.7,26.9,26.0,20.6,하선,151,4,평일,시청,1
4,14.4,10.7,17.6,26.7,36.0,31.2,28.0,36.5,상선,152,5,평일,종각,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,하선,2827,1654,공휴일,모란,8
1654,5.8,6.6,8.1,10.5,14.7,17.0,21.9,22.5,상선,2828,1655,공휴일,남위례,8
1655,3.0,3.7,3.0,4.0,4.8,5.7,7.5,9.0,하선,2828,1656,공휴일,남위례,8
1656,5.8,6.6,8.1,10.5,14.7,17.0,21.9,22.5,상선,2828,1657,공휴일,남위례,8
1657,3.0,3.7,3.0,4.0,4.8,5.7,7.5,9.0,하선,2828,1658,공휴일,남위례,8

In [9]:
subway_1.groupby(by="호선").count()

,6시00분,6시30분,7시00분,7시30분,8시00분,8시30분,9시00분,9시30분,상하구분,역번호,연번,요일구분,출발역
호선,,,,,,,,,,,,,
1,60,60,60,60,60,60,60,60,60,60,60,60,60
2,306,306,306,306,306,306,306,306,306,306,306,306,306
3,204,204,204,204,204,204,204,204,204,204,204,204,204
4,162,162,162,162,162,162,162,162,162,162,162,162,162
5,336,336,336,336,336,336,336,336,336,336,336,336,336
6,224,224,224,224,224,224,224,224,234,234,234,234,234
7,252,252,252,252,252,252,252,252,252,252,252,252,252
8,104,104,104,104,104,104,104,104,104,104,104,104,104

In [10]:
subway_1.nunique()

6시00분     386
6시30분     397
7시00분     484
7시30분     591
8시00분     683
8시30분     629
9시00분     616
9시30분     586
상하구분        4
역번호       279
연번       1658
요일구분        3
출발역       243
호선          8
dtype: int64

In [11]:
import pandas as pd
from utils import *
subway_hour_num = call_dataframe("subway_hour_num")

컬럼명 :  ['사용월', '호선명', '지하철역', '04시-05시 승차인원', '04시-05시 하차인원', '05시-06시 승차인원', '05시-06시 하차인원', '06시-07시 승차인원', '06시-07시 하차인원', '07시-08시 승차인원', '07시-08시 하차인원', '08시-09시 승차인원', '08시-09시 하차인원', '09시-10시 승차인원', '09시-10시 하차인원', '10시-11시 승차인원', '10시-11시 하차인원', '11시-12시 승차인원', '11시-12시 하차인원', '12시-13시 승차인원', '12시-13시 하차인원', '13시-14시 승차인원', '13시-14시 하차인원', '14시-15시 승차인원', '14시-15시 하차인원', '15시-16시 승차인원', '15시-16시 하차인원', '16시-17시 승차인원', '16시-17시 하차인원', '17시-18시 승차인원', '17시-18시 하차인원', '18시-19시 승차인원', '18시-19시 하차인원', '19시-20시 승차인원', '19시-20시 하차인원', '20시-21시 승차인원', '20시-21시 하차인원', '21시-22시 승차인원', '21시-22시 하차인원', '22시-23시 승차인원', '22시-23시 하차인원', '23시-24시 승차인원', '23시-24시 하차인원', '00시-01시 승차인원', '00시-01시 하차인원', '01시-02시 승차인원', '01시-02시 하차인원', '02시-03시 승차인원', '02시-03시 하차인원', '03시-04시 승차인원', '03시-04시 하차인원', '작업일자']

In [12]:
subway_hour_num

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202305,1호선,동대문,900,25,12331,2188,9806,7379,14774,...,9301,555,2688,2,267,0,0,0,0,20230603
1,202305,1호선,동묘앞,211,2,3197,1140,3753,5206,7379,...,4201,88,1706,1,282,0,0,0,0,20230603
2,202305,1호선,서울역,708,37,8611,9912,13730,57527,43711,...,15133,2631,2693,0,228,0,0,0,0,20230603
3,202305,1호선,시청,90,3,2505,4754,4137,24662,8198,...,4344,354,933,0,25,0,0,0,0,20230603
4,202305,1호선,신설동,468,15,9034,2536,10317,8883,22069,...,9866,471,2168,1,1,0,0,0,0,20230603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,202305,중앙선,원덕,95,0,394,6,740,182,885,...,328,3,80,0,0,0,0,0,0,20230603
610,202305,중앙선,중랑,153,5,6886,593,10126,2329,24074,...,5311,34,486,0,0,0,0,0,0,20230603
611,202305,중앙선,지평,0,0,0,0,4,2,384,...,0,0,0,0,0,0,0,0,0,20230603
612,202305,중앙선,팔당,0,0,259,78,726,728,1658,...,202,0,0,0,0,0,0,0,0,20230603
613,202305,중앙선,회기,987,8,13656,4336,23117,14608,59857,...,32216,818,5974,0,0,0,0,0,0,20230603

In [13]:
subway_hour_num=subway_hour_num[['사용월', '호선명', '지하철역',
        '06시-07시 승차인원', '06시-07시 하차인원', '07시-08시 승차인원',
       '07시-08시 하차인원', '08시-09시 승차인원', '08시-09시 하차인원', '09시-10시 승차인원','09시-10시 하차인원']]
subway_hour_num

,사용월,호선명,지하철역,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,07시-08시 하차인원,08시-09시 승차인원,08시-09시 하차인원,09시-10시 승차인원,09시-10시 하차인원
0,202305,1호선,동대문,9806,7379,14774,13998,20435,22506,19842,24103
1,202305,1호선,동묘앞,3753,5206,7379,10573,11582,22916,10643,18105
2,202305,1호선,서울역,13730,57527,43711,114851,74850,231336,65578,158131
3,202305,1호선,시청,4137,24662,8198,75913,10841,197338,13630,92068
4,202305,1호선,신설동,10317,8883,22069,25111,31629,56756,21778,33982
...,...,...,...,...,...,...,...,...,...,...,...
609,202305,중앙선,원덕,740,182,885,546,1166,824,1128,720
610,202305,중앙선,중랑,10126,2329,24074,3322,22141,7191,16620,6620
611,202305,중앙선,지평,4,2,384,294,240,216,4,1
612,202305,중앙선,팔당,726,728,1658,1716,1579,3487,1373,3996
613,202305,중앙선,회기,23117,14608,59857,32881,79412,66787,54033,50457

In [36]:
subway_hour_num_on = subway_hour_num[['사용월', '호선명', '지하철역',
        '06시-07시 승차인원', '07시-08시 승차인원',
        '08시-09시 승차인원', '09시-10시 승차인원']]
subway_hour_num_off=subway_hour_num[['사용월', '호선명', '지하철역', '06시-07시 하차인원',
       '07시-08시 하차인원', '08시-09시 하차인원','09시-10시 하차인원']]

In [37]:
subway_hour_num_off

        사용월  호선명 지하철역  06시-07시 하차인원  07시-08시 하차인원  08시-09시 하차인원  09시-10시 하차인원
0    202305  1호선  동대문          7379         13998         22506         24103
1    202305  1호선  동묘앞          5206         10573         22916         18105
2    202305  1호선  서울역         57527        114851        231336        158131
3    202305  1호선   시청         24662         75913        197338         92068
4    202305  1호선  신설동          8883         25111         56756         33982
..      ...  ...  ...           ...           ...           ...           ...
609  202305  중앙선   원덕           182           546           824           720
610  202305  중앙선   중랑          2329          3322          7191          6620
611  202305  중앙선   지평             2           294           216             1
612  202305  중앙선   팔당           728          1716          3487          3996
613  202305  중앙선   회기         14608         32881         66787         50457

[614 rows x 7 columns]

In [16]:
subway_hour_num_on.nunique()

사용월               1
호선명              26
지하철역            523
06시-07시 승차인원    596
07시-08시 승차인원    603
08시-09시 승차인원    605
09시-10시 승차인원    600
dtype: int64

In [17]:
JSONDict = {
   "가락시장":[37.492522,127.118234],
   "종로3가":[37.571607,126.991806],
   "오금":[37.502162,127.128111],
   "동대문":[37.57142,127.009745],
   "동대문역사문화공원":[37.565138,127.007896],
   "충무로":[37.561243,126.99428],
   "서울역":[37.554648,126.972559],
   "신도림":[37.508725,126.891295],
   "이촌":[37.522272,126.974345],
   "왕십리":[37.561533,127.037732],
   "시청":[37.564718,126.977108],
   "교대":[37.493415,127.01408],
   "신설동":[37.575297,127.025087],
   "강변":[37.535095,127.094681],
   "까치산":[37.531768,126.846683],
   "을지로3가":[37.566295,126.99191],
   "홍대입구":[37.557192,126.925381],
   "광운대":[37.623632,127.061835],
   "상봉":[37.596362,127.085032],
   "망우":[37.59955,127.091909],
   "영등포구청":[37.52497,126.895951],
   "신길":[37.517122,126.917169],
   "을지로4가":[37.566941,126.998079],
   "합정":[37.549463,126.913739],
   "공덕":[37.544018,126.951592],
   "삼각지":[37.534777,126.97311],
   "약수":[37.55434,127.010655],
   "신당":[37.565972,127.01782],
   "동묘앞":[37.572627,127.016429],
   "석계":[37.614805,127.065851],
   "도봉산":[37.689313,127.046222],
   "불광":[37.610469,126.929887],
   "연신내":[37.619001,126.921008],
   "금정":[37.372221,126.943429],
   "수원":[37.265974,126.999874],
   "원인재":[37.412603,126.687389],
   "회기":[37.58946,127.057583],
   "대곡":[37.631626,126.811024],
   "디지털미디어시티":[37.576646,126.900984],
   "회룡":[37.724846,127.046895],
   "판교":[37.394761,127.111217],
   "오이도":[37.362357,126.738714],
   "이매":[37.396104,127.12827],
   "선정릉":[37.51098,127.043593],
   "종합운동장":[37.510997,127.073642],
   "천호":[37.538397,127.123572],
   "창동":[37.653166,127.047731],
   "사당":[37.47653,126.981685],
   "노원":[37.655128,127.061368],
   "군자":[37.557121,127.079542],
   "건대입구":[37.540693,127.07023],
   "고속터미널":[37.50481,127.004943],
   "총신대입구(이수)":[37.486263,126.981989],
   "대림":[37.49297,126.895801],
   "가산디지털단지":[37.481072,126.882343],
   "온수":[37.492258,126.823388],
   "부평구청":[37.508336,126.720548],
   "잠실":[37.51395,127.102234],
   "복정":[37.470047,127.126662],
   "모란":[37.43213,127.129087],
   "부평":[37.489493,126.724805],
   "당산":[37.53438,126.902281],
   "여의도":[37.521624,126.924191],
   "동작":[37.502971,126.979306],
   "김포공항":[37.562434,126.801058],
   "강남":[37.497175,127.027926],
   "양재":[37.484147,127.034631],
   "정자":[37.36706,127.108105],
   "강남구청":[37.517186,127.04128],
   "선릉":[37.504503,127.049008],
   "효창공원앞":[37.539261,126.961351],
   "태릉입구":[37.617983,127.07512],
   "검암":[37.569104,126.673728],
   "주안":[37.464941,126.679923],
   "인천":[37.476691,126.616936],
   "인천시청":[37.457405,126.702221],
   "청량리":[37.580178,127.046835],
   "중랑":[37.594917,127.076116],
   "충정로":[37.559973,126.963672],
   "청구":[37.560245,127.013828],
   "성신여대입구":[37.592624,127.016403],
   "보문":[37.585286,127.019381],
   "계양":[37.571462,126.735637],
   "기흥":[37.275619,127.115936],
   "옥수":[37.540685,127.017965],
   "도곡":[37.490858,127.055381],
   "수서":[37.487371,127.10188],
   "용산":[37.529849,126.964561],
   "종각":[37.570161,126.982923],
   "종로5가":[37.570926,127.001849],
   "제기동":[37.578103,127.034893],
   "을지로입구":[37.566014,126.982618],
   "탑석":[37.733579,127.088704],
   "419민주묘지":[37.649593,127.013746],
   "가오리":[37.641701,127.016792],
   "화계":[37.634802,127.017519],
   "한티":[37.496237,127.052873],
   "구룡":[37.486839,127.058856],
   "홍제":[37.589066,126.943736],
   "김유정":[37.818466,127.71434],
   "남춘천":[37.864007,127.723792],
   "성균관대":[37.300349,126.97075],
   "경찰병원":[37.495918,127.12454],
   "구일":[37.496756,126.870793],
   "야탑":[37.411185,127.128715],
   "삼송":[37.653083,126.895558],
   "화정":[37.634592,126.83265],
   "영등포시장":[37.522669,126.905139],
   "상일동":[37.556712,127.166417],
   "공릉":[37.625742,127.072896],
   "상도":[37.502834,126.94791],
   "박촌":[37.553703,126.745077],
   "구성":[37.298969,127.105664],
   "인하대":[37.448493,126.649619],
   "숭의":[37.460789,126.638297],
   "센트럴파크":[37.393054,126.634729],
   "국제업무지구":[37.399907,126.630347],
   "강매":[37.612314,126.843223],
   "달월":[37.379681,126.745177],
   "원흥":[37.650658,126.872642],
   "완정":[37.592928,126.673203],
   "지평":[37.476444,127.629617],
   "석바위시장":[37.457611,126.692575],
   "상왕십리":[37.564354,127.029354],
   "한양대":[37.555273,127.043655],
   "뚝섬":[37.547184,127.047367],
   "성수":[37.544581,127.055961],
   "청계산입구":[37.447211,127.055664],
   "북한산우이":[37.663146,127.012789],
   "구의":[37.537077,127.085916],
   "잠실나루":[37.520733,127.10379],
   "잠실새내":[37.511687,127.086162],
   "삼성":[37.508844,127.06316],
   "역삼":[37.500622,127.036456],
   "서초":[37.491897,127.007917],
   "방배":[37.481426,126.997596],
   "낙성대":[37.47693,126.963693],
   "서울대입구":[37.481247,126.952739],
   "봉천":[37.482362,126.941892],
   "신림":[37.484201,126.929715],
   "신대방":[37.487462,126.913149],
   "구로디지털단지":[37.485266,126.901401],
   "문래":[37.517933,126.89476],
   "신촌":[37.555134,126.936893],
   "이대":[37.556733,126.946013],
   "아현":[37.557345,126.956141],
   "용답":[37.561904,127.050899],
   "신답":[37.57004,127.046481],
   "도림천":[37.514287,126.882768],
   "양천구청":[37.512398,126.865819],
   "신정네거리":[37.520074,126.852912],
   "용두":[37.574028,127.038091],
   "지축":[37.648048,126.913951],
   "구파발":[37.636763,126.918821],
   "녹번":[37.600927,126.935756],
   "무악재":[37.582299,126.950291],
   "독립문":[37.574571,126.957748],
   "경복궁":[37.575762,126.97353],
   "안국":[37.576477,126.985443],
   "동대입구":[37.559052,127.005602],
   "금호":[37.548034,127.015872],
   "압구정":[37.527072,127.028461],
   "신사":[37.516334,127.020114],
   "잠원":[37.512759,127.01122],
   "남부터미널":[37.485013,127.016189],
   "매봉":[37.486947,127.046769],
   "대치":[37.494612,127.063642],
   "학여울":[37.496663,127.070594],
   "대청":[37.493514,127.079532],
   "일원":[37.483681,127.08439],
   "당고개":[37.670272,127.079066],
   "상계":[37.660878,127.073572],
   "쌍문":[37.648627,127.034709],
   "수유":[37.638052,127.025732],
   "미아":[37.62667,127.025983],
   "미아사거리":[37.613292,127.030053],
   "길음":[37.603407,127.025053],
   "한성대입구":[37.588458,127.006221],
   "혜화":[37.582336,127.001844],
   "명동":[37.560989,126.986325],
   "회현":[37.558514,126.978246],
   "숙대입구":[37.54456,126.972106],
   "신용산":[37.52917,126.967894],
   "남태령":[37.463873,126.989134],
   "남영":[37.541021,126.9713],
   "노량진":[37.514219,126.942454],
   "대방":[37.513342,126.926382],
   "영등포":[37.515504,126.907628],
   "서빙고":[37.519594,126.988537],
   "한남":[37.52943,127.009169],
   "응봉":[37.549946,127.034538],
   "외대앞":[37.596073,127.063549],
   "신이문":[37.601854,127.067325],
   "월계":[37.633212,127.058831],
   "녹천":[37.644799,127.051269],
   "개포동":[37.489116,127.06614],
   "대모산입구":[37.491373,127.07272],
   "양원":[37.606596,127.107906],
   "구리":[37.603392,127.143869],
   "도농":[37.608806,127.161153],
   "양정":[37.60533,127.19364],
   "덕소":[37.586781,127.208832],
   "도심":[37.579622,127.222672],
   "팔당":[37.547371,127.243939],
   "운길산":[37.554669,127.310115],
   "양수":[37.545981,127.329098],
   "신원":[37.525545,127.372921],
   "국수":[37.516169,127.399367],
   "아신":[37.51382,127.443173],
   "오빈":[37.506062,127.473868],
   "양평(경의중앙선)":[37.492832,127.491814],
   "원덕":[37.468672,127.547076],
   "용문":[37.48223,127.594647],
   "서울(경의중앙선)":[37.556328,126.969522],
   "신촌(경의중앙선)":[37.559783,126.942319],
   "서강대":[37.551881,126.935711],
   "가좌":[37.568491,126.915487],
   "수색":[37.580842,126.895611],
   "화전":[37.602888,126.868387],
   "행신":[37.612102,126.834146],
   "능곡":[37.618808,126.820783],
   "곡산":[37.645676,126.801762],
   "백마":[37.658239,126.794461],
   "풍산":[37.672346,126.786243],
   "일산":[37.682077,126.769846],
   "탄현":[37.694023,126.761086],
   "야당":[37.712327,126.761356],
   "운정":[37.725826,126.767257],
   "금릉":[37.751322,126.765347],
   "금촌":[37.766217,126.774644],
   "월롱":[37.796188,126.792587],
   "파주":[37.815298,126.792783],
   "문산":[37.854619,126.788047],
   "신내":[37.612887,127.103218],
   "갈매":[37.634118,127.114757],
   "별내":[37.64202,127.12684],
   "퇴계원":[37.648311,127.143952],
   "사릉":[37.65108,127.176933],
   "금곡":[37.637382,127.207853],
   "평내호평":[37.653225,127.244493],
   "천마산":[37.658978,127.285379],
   "마석":[37.652782,127.311767],
   "대성리":[37.684071,127.379319],
   "청평":[37.735488,127.42661],
   "상천":[37.770246,127.454821],
   "가평":[37.814536,127.510739],
   "굴봉산":[37.832067,127.557695],
   "백양리":[37.830779,127.58933],
   "강촌":[37.805723,127.634146],
   "춘천":[37.885054,127.717023],
   "봉명":[36.801215,127.135763],
   "쌍용(나사렛대)":[36.793759,127.1214],
   "아산":[36.792053,127.104361],
   "배방":[36.777629,127.052991],
   "온양온천":[36.780483,127.003249],
   "신창":[36.769502,126.951108],
   "선바위":[37.451673,127.002303],
   "경마공원":[37.443885,127.007888],
   "대공원":[37.435675,127.006523],
   "과천":[37.433021,126.996568],
   "정부과천청사":[37.426513,126.98978],
   "인덕원":[37.401553,126.976715],
   "평촌":[37.394287,126.963883],
   "범계":[37.389793,126.950806],
   "삼동":[37.409522,127.20336],
   "경기광주":[37.399907,126.630347],
   "초월":[37.374419,127.299],
   "곤지암":[37.351315,127.34674],
   "신둔도예촌":[37.317185,127.40476],
   "이천":[37.265579,127.44226],
   "부발":[37.260192,127.490277],
   "세종대왕릉":[37.295309,127.570938],
   "여주":[37.282701,127.628607],
   "구로":[37.503039,126.881966],
   "금천구청":[37.455626,126.89398],
   "석수":[37.435047,126.902295],
   "관악":[37.419232,126.908706],
   "안양":[37.401592,126.922874],
   "명학":[37.384653,126.935433],
   "군포":[37.35356,126.948462],
   "의왕":[37.320852,126.948217],
   "화서":[37.283862,126.989627],
   "독산":[37.466613,126.889249],
   "세류":[37.245025,127.013222],
   "병점":[37.207503,127.032731],
   "세마":[37.187533,127.04318],
   "오산대":[37.168953,127.063197],
   "오산":[37.145885,127.06672],
   "진위":[37.109447,127.062278],
   "송탄":[37.075696,127.054301],
   "서정리":[37.056496,127.052819],
   "지제":[37.0188,127.070444],
   "평택":[36.990726,127.085159],
   "성환":[36.916076,127.126964],
   "직산":[36.870593,127.143904],
   "두정":[36.833705,127.14896],
   "천안":[36.810005,127.146826],
   "당정":[37.344285,126.948345],
   "서동탄":[37.195504,127.051672],
   "광명":[37.416182,126.884466],
   "산본":[37.358101,126.933274],
   "대야미":[37.328467,126.917332],
   "반월":[37.312212,126.903524],
   "상록수":[37.302795,126.866489],
   "한대앞":[37.309689,126.85344],
   "중앙":[37.315941,126.838573],
   "고잔":[37.316777,126.823249],
   "초지":[37.320646,126.805913],
   "안산":[37.327082,126.788532],
   "신길온천":[37.338212,126.765844],
   "정왕":[37.351735,126.742989],
   "수리산":[37.349801,126.925365],
   "개봉":[37.494594,126.85868],
   "오류동":[37.494526,126.845365],
   "역곡":[37.485178,126.811502],
   "부천":[37.48405,126.782686],
   "송내":[37.4876,126.753664],
   "백운":[37.483664,126.707704],
   "동암":[37.471408,126.702896],
   "제물포":[37.466769,126.656666],
   "동인천":[37.475276,126.632802],
   "부개":[37.488418,126.74109],
   "간석":[37.464737,126.694181],
   "도원":[37.468446,126.642706],
   "중동":[37.486562,126.764843],
   "도화":[37.46607,126.668672],
   "서울숲":[37.543617,127.044707],
   "압구정로데오":[37.527381,127.040534],
   "소사":[37.482753,126.79544],
   "가천대":[37.448605,127.126697],
   "태평":[37.440019,127.127709],
   "서현":[37.385126,127.123592],
   "수내":[37.378455,127.114322],
   "미금":[37.350077,127.10891],
   "오리":[37.339824,127.108942],
   "보정":[37.312752,127.108196],
   "죽전":[37.324753,127.107395],
   "신갈":[37.286102,127.111313],
   "상갈":[37.26181,127.108847],
   "청명":[37.259489,127.078934],
   "영통":[37.251568,127.071394],
   "망포":[37.245795,127.057353],
   "매탄권선":[37.252759,127.040566],
   "수원시청":[37.261911,127.030736],
   "매교":[37.265481,127.015678],
   "월곶":[37.391769,126.742699],
   "소래포구":[37.40095,126.733522],
   "인천논현":[37.400614,126.722478],
   "호구포":[37.401637,126.708627],
   "남동인더스파크":[37.407722,126.695216],
   "연수":[37.417804,126.67894],
   "송도":[37.428514,126.657772],
   "신포":[37.46874,126.623853],
   "방학":[37.667503,127.044273],
   "도봉":[37.679563,127.045595],
   "망월사":[37.709914,127.047455],
   "의정부":[37.738415,127.045958],
   "가능":[37.748577,127.044213],
   "녹양":[37.75938,127.042292],
   "양주":[37.774381,127.044708],
   "덕계":[37.818486,127.056486],
   "덕정":[37.843188,127.061277],
   "지행":[37.892334,127.055716],
   "동두천중앙":[37.901885,127.056482],
   "보산":[37.913702,127.057277],
   "동두천":[37.927878,127.05479],
   "소요산":[37.9481,127.061034],
   "원당":[37.653324,126.843041],
   "백석":[37.643114,126.78787],
   "마두":[37.652206,126.77762],
   "정발산":[37.659477,126.773359],
   "주엽":[37.670072,126.761334],
   "대화":[37.676087,126.747569],
   "방화":[37.577446,126.812741],
   "개화산":[37.572399,126.806171],
   "송정":[37.561184,126.811973],
   "마곡":[37.560183,126.825448],
   "발산":[37.558598,126.837668],
   "우장산":[37.548768,126.836318],
   "화곡":[37.541513,126.840461],
   "신정":[37.524997,126.856191],
   "목동":[37.526065,126.864931],
   "오목교":[37.524496,126.875181],
   "양평":[37.525648,126.885778],
   "여의나루":[37.527098,126.932901],
   "마포":[37.539574,126.945932],
   "애오개":[37.553736,126.95682],
   "서대문":[37.565773,126.966641],
   "광화문":[37.571026,126.976669],
   "신금호":[37.554548,127.020331],
   "행당":[37.557322,127.029476],
   "마장":[37.5661,127.042973],
   "답십리":[37.566747,127.052704],
   "장한평":[37.56144,127.064623],
   "아차산":[37.551691,127.089761],
   "광나루":[37.545303,127.10357],
   "강동":[37.535804,127.132481],
   "길동":[37.537801,127.140004],
   "굽은다리":[37.545477,127.142853],
   "명일":[37.55137,127.143999],
   "고덕":[37.555004,127.154151],
   "둔촌동":[37.527788,127.136248],
   "올림픽공원":[37.516078,127.130848],
   "방이":[37.508857,127.126133],
   "개롱":[37.498079,127.13482],
   "거여":[37.493105,127.14415],
   "마천":[37.49499,127.152781],
   "응암":[37.598605,126.915577],
   "역촌":[37.606021,126.922744],
   "독바위":[37.618456,126.933031],
   "구산":[37.611377,126.91727],
   "새절":[37.591148,126.913629],
   "증산":[37.583876,126.909645],
   "월드컵경기장":[37.569532,126.899298],
   "마포구청":[37.563515,126.903343],
   "망원":[37.556094,126.910052],
   "상수":[37.547716,126.922852],
   "광흥창":[37.547456,126.931993],
   "대흥":[37.547771,126.942069],
   "녹사평":[37.534675,126.986695],
   "이태원":[37.534488,126.994302],
   "한강진":[37.539631,127.001725],
   "버티고개":[37.548013,127.007055],
   "창신":[37.579661,127.015241],
   "안암":[37.586272,127.029005],
   "고려대":[37.590508,127.036296],
   "월곡":[37.601948,127.041518],
   "상월곡":[37.606377,127.048491],
   "돌곶이":[37.610537,127.056431],
   "화랑대":[37.620064,127.084689],
   "봉화산":[37.617283,127.091401],
   "장암":[37.700109,127.053196],
   "수락산":[37.67785,127.055315],
   "마들":[37.66494,127.057675],
   "중계":[37.644583,127.064303],
   "하계":[37.636352,127.06799],
   "먹골":[37.610637,127.077725],
   "중화":[37.602545,127.079264],
   "면목":[37.588579,127.087503],
   "사가정":[37.580894,127.088478],
   "용마산":[37.573647,127.086727],
   "중곡":[37.565923,127.08432],
   "어린이대공원":[37.548014,127.074658],
   "뚝섬유원지":[37.53154,127.066704],
   "청담":[37.519365,127.05335],
   "학동":[37.514229,127.031656],
   "논현":[37.511093,127.021415],
   "반포":[37.508178,127.011727],
   "내방":[37.487618,126.993513],
   "남성":[37.484596,126.971251],
   "숭실대입구":[37.496029,126.953822],
   "장승배기":[37.504898,126.93915],
   "신대방삼거리":[37.499701,126.928276],
   "보라매":[37.499872,126.920428],
   "신풍":[37.50008,126.90993],
   "남구로":[37.486056,126.887249],
   "철산":[37.47605,126.867911],
   "광명사거리":[37.479252,126.854876],
   "천왕":[37.486637,126.838713],
   "까치울":[37.506207,126.810939],
   "부천종합운동장":[37.50538,126.797337],
   "춘의":[37.503663,126.787036],
   "신중동":[37.503048,126.77596],
   "부천시청":[37.504631,126.763538],
   "상동":[37.505781,126.753083],
   "삼산체육관":[37.506411,126.742153],
   "굴포천":[37.506997,126.73128],
   "암사":[37.55021,127.127562],
   "강동구청":[37.530341,127.120508],
   "몽촌토성":[37.517409,127.112359],
   "석촌":[37.505431,127.106979],
   "송파":[37.499703,127.112183],
   "문정":[37.485855,127.1225],
   "장지":[37.478703,127.126191],
   "산성":[37.457122,127.149908],
   "남한산성입구":[37.451535,127.159816],
   "단대오거리":[37.44521,127.156866],
   "신흥":[37.440918,127.147564],
   "수진":[37.437428,127.140722],
   "귤현":[37.566379,126.742654],
   "임학":[37.545059,126.738665],
   "계산":[37.543238,126.728128],
   "경인교대입구":[37.538157,126.722597],
   "작전":[37.530415,126.722527],
   "갈산":[37.517268,126.721514],
   "부평시장":[37.498383,126.722244],
   "동수":[37.485312,126.718247],
   "부평삼거리":[37.477679,126.710208],
   "간석오거리":[37.467048,126.707938],
   "예술회관":[37.449396,126.701012],
   "인천터미널":[37.442383,126.699706],
   "문학경기장":[37.434935,126.698579],
   "선학":[37.426684,126.698863],
   "신연수":[37.41804,126.693863],
   "동춘":[37.404737,126.681015],
   "동막":[37.397878,126.674005],
   "캠퍼스타운":[37.387855,126.661673],
   "테크노파크":[37.382268,126.656365],
   "지식정보단지":[37.378384,126.645168],
   "인천대입구":[37.386007,126.639484],
   "검단오류":[37.594877,126.627178],
   "왕길":[37.59518,126.642696],
   "검단사거리":[37.60185,126.657108],
   "마전":[37.597566,126.666998],
   "독정":[37.585212,126.675844],
   "검바위":[37.561405,126.677566],
   "아시아드경기장":[37.5517,126.677122],
   "서구청":[37.543742,126.676787],
   "가정":[37.524649,126.675539],
   "가정중앙시장":[37.517054,126.676672],
   "석남":[37.506193,126.676203],
   "서부여성회관":[37.506193,126.676203],
   "인천가좌":[37.4897,126.675208],
   "가재울":[37.484192,126.683673],
   "주안국가산단":[37.473703,126.68113],
   "시민공원":[37.458335,126.681192],
   "석천사거리":[37.456805,126.709986],
   "모래내시장":[37.45583,126.719298],
   "만수":[37.454911,126.732094],
   "남동구청":[37.448161,126.736939],
   "인천대공원":[37.448769,126.752618],
   "운연":[37.440127,126.75997],
   "개화":[37.578608,126.798153],
   "공항시장":[37.563726,126.810678],
   "신방화":[37.567532,126.816601],
   "마곡나루":[37.567336,126.829497],
   "양천향교":[37.568381,126.841333],
   "가양":[37.561391,126.854456],
   "증미":[37.557402,126.861939],
   "등촌":[37.550632,126.865689],
   "염창":[37.546936,126.874916],
   "신목동":[37.544277,126.88308],
   "선유도":[37.53802,126.893525],
   "국회의사당":[37.528105,126.917874],
   "샛강":[37.517274,126.928422],
   "노들":[37.512887,126.953222],
   "흑석":[37.50877,126.963708],
   "구반포":[37.501364,126.987332],
   "신반포":[37.503415,126.995925],
   "사평":[37.504206,127.015259],
   "신논현":[37.504598,127.02506],
   "언주":[37.507287,127.033868],
   "삼성중앙":[37.513011,127.053282],
   "봉은사":[37.514219,127.060245],
   "청라국제도시":[37.555878,126.625327],
   "운서":[37.492904,126.49379],
   "공항화물청사":[37.458366,126.476241],
   "인천국제공항":[37.447464,126.452508],
   "영종":[37.511466,126.5237],
   "양재시민의숲":[37.470023,127.03842],
   "김량장":[37.237247,127.198781],
   "운동장·송담대":[37.237845,127.209198],
   "고진":[37.24484,127.214251],
   "보평":[37.258965,127.218457],
   "둔전":[37.267051,127.21364],
   "전대·에버랜드":[37.285342,127.219561],
   "발곡":[37.727048,127.052803],
   "범골":[37.728755,127.04353],
   "경전철의정부":[37.737202,127.043257],
   "의정부시청":[37.739256,127.034781],
   "흥선":[37.743302,127.037023],
   "의정부중앙":[37.743676,127.049565],
   "동오":[37.745271,127.056947],
   "새말":[37.748885,127.06362],
   "경기도청북부청사":[37.75059,127.071495],
   "효자":[37.754025,127.076902],
   "곤제":[37.750471,127.083715],
   "어룡":[37.742802,127.085035],
   "송산":[37.737279,127.087159],
   "솔밭공원":[37.656088,127.013252],
   "삼양":[37.627165,127.018152],
   "삼양사거리":[37.621512,127.02048],
   "솔샘":[37.62124,127.013528],
   "북한산보국문":[37.612343,127.008009],
   "정릉":[37.602798,127.01349],
   "동천":[37.337928,127.102976],
   "수지구청":[37.322702,127.095026],
   "성복":[37.313335,127.0801],
   "상현":[37.297664,127.069342],
   "광교중앙":[37.288617,127.051478],
   "광교":[37.30211,127.044483],
   "강남대":[37.270161,127.126033],
   "지석":[37.269606,127.136515],
   "어정":[37.274917,127.143714],
   "동백":[37.269043,127.152716],
   "초당":[37.260752,127.159443],
   "삼가":[37.242115,127.168075],
   "시청·용인대":[37.239151,127.178406],
   "명지대":[37.237964,127.190294]
}

In [18]:
subway_coordinate = pd.DataFrame(JSONDict, index=["X좌표","Y좌표"]).transpose().reset_index()
subway_coordinate

         index        X좌표         Y좌표
0         가락시장  37.492522  127.118234
1         종로3가  37.571607  126.991806
2           오금  37.502162  127.128111
3          동대문  37.571420  127.009745
4    동대문역사문화공원  37.565138  127.007896
..         ...        ...         ...
584         동백  37.269043  127.152716
585         초당  37.260752  127.159443
586         삼가  37.242115  127.168075
587     시청·용인대  37.239151  127.178406
588        명지대  37.237964  127.190294

[589 rows x 3 columns]

In [19]:
subway_total_on = pd.merge(left=subway_hour_num_on,right=subway_coordinate,how="inner",right_on="index",left_on="지하철역")
subway_total_on=subway_total_on[['사용월', '호선명', '지하철역', '06시-07시 승차인원', '07시-08시 승차인원', '08시-09시 승차인원',
       '09시-10시 승차인원', 'X좌표', 'Y좌표']]
subway_total_on[subway_total_on["지하철역"]=="가락시장"]

,사용월,호선명,지하철역,06시-07시 승차인원,07시-08시 승차인원,08시-09시 승차인원,09시-10시 승차인원,X좌표,Y좌표
71,202305,3호선,가락시장,7572,20920,22574,16697,37.492522,127.118234
72,202305,8호선,가락시장,5964,10862,13351,10886,37.492522,127.118234

In [20]:
subway_total_on_202305=subway_total_on.groupby(by=['사용월','지하철역','호선명', 'X좌표', 'Y좌표']).sum().reset_index()
subway_total_on_202305

,사용월,지하철역,호선명,X좌표,Y좌표,06시-07시 승차인원,07시-08시 승차인원,08시-09시 승차인원,09시-10시 승차인원
0,202305,가능,경원선,37.748577,127.044213,13011,26097,23497,13878
1,202305,가락시장,3호선,37.492522,127.118234,7572,20920,22574,16697
2,202305,가락시장,8호선,37.492522,127.118234,5964,10862,13351,10886
3,202305,가산디지털단지,7호선,37.481072,126.882343,9910,23031,26865,19966
4,202305,가산디지털단지,경부선,37.481072,126.882343,7761,16109,16582,12885
...,...,...,...,...,...,...,...,...,...
503,202305,화정,일산선,37.634592,126.832650,26166,55474,57169,36963
504,202305,회기,중앙선,37.589460,127.057583,23117,59857,79412,54033
505,202305,회룡,경원선,37.724846,127.046895,29339,61548,50753,33728
506,202305,효창공원앞,6호선,37.539261,126.961351,6268,17609,27233,17239
507,202305,효창공원앞,경의선,37.539261,126.961351,2101,5736,8614,5805

In [21]:
import pickle

with open("subway_total_on_202305", "wb") as f:
    pickle.dump(subway_total_on_202305, f)

In [38]:
subway_hour_num_off.columns

Index(['사용월', '호선명', '지하철역', '06시-07시 하차인원', '07시-08시 하차인원', '08시-09시 하차인원',
       '09시-10시 하차인원'],
      dtype='object')

In [40]:
import pandas as pd
subway_hour_num_off_202305= pd.merge(left=subway_hour_num_off,right=subway_coordinate,how="inner",right_on="index",left_on="지하철역")
subway_hour_num_off_202305=subway_hour_num_off[['사용월', '호선명', '지하철역', '06시-07시 하차인원', '07시-08시 하차인원', '08시-09시 하차인원',
       '09시-10시 하차인원', 'X좌표', 'Y좌표']]

In [41]:
with open("subway_hour_num_off_202305", "wb") as f:
    pickle.dump(subway_hour_num_off_202305, f)