In [112]:
from utils import *

action_mysql()
bus_passengers=call_dataframe('Bus_Num_Passengers')

컬럼명 :  ['기준_날짜', '노선_ID', '출발_정류장_ID', '도착_정류장_ID', '정류장_순서', '재차인원합_일', '재차인원합_0시', '재차인원합_1시', '재차인원합_2시', '재차인원합_3시', '재차인원합_4시', '재차인원합_5시', '재차인원합_6시', '재차인원합_7시', '재차인원합_8시', '재차인원합_9시', '재차인원합_10시', '재차인원합_11시', '재차인원합_12시', '재차인원합_13시', '재차인원합_14시', '재차인원합_15시', '재차인원합_16시', '재차인원합_17시', '재차인원합_18시', '재차인원합_19시', '재차인원합_20시', '재차인원합_21시', '재차인원합_22시', '재차인원합_23시']

In [113]:
# 재차인원, 날짜 지정
bus_passengers_20230605 = bus_passengers[bus_passengers["기준_날짜"]==20230605]

In [114]:
# 특정 컬럼만 추출
bus_passengers_20230605 = bus_passengers_20230605[['기준_날짜', '노선_ID', '출발_정류장_ID', '도착_정류장_ID', '정류장_순서','재차인원합_6시', '재차인원합_7시', '재차인원합_8시', '재차인원합_9시']]

In [115]:
# 정보 확인
bus_passengers_20230605.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37792 entries, 0 to 37791
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기준_날짜      37792 non-null  int64
 1   노선_ID      37792 non-null  int64
 2   출발_정류장_ID  37792 non-null  int64
 3   도착_정류장_ID  37792 non-null  int64
 4   정류장_순서     37792 non-null  int64
 5   재차인원합_6시   34709 non-null  float64
 6   재차인원합_7시   34255 non-null  float64
 7   재차인원합_8시   33986 non-null  float64
 8   재차인원합_9시   33768 non-null  float64
dtypes: float64(4), int64(5)
memory usage: 2.9 MB

In [116]:
bus_passengers_20230605.nunique()

기준_날짜            1
노선_ID          629
출발_정류장_ID    12366
도착_정류장_ID    12336
정류장_순서         186
재차인원합_6시       469
재차인원합_7시       457
재차인원합_8시       377
재차인원합_9시       327
dtype: int64

In [117]:
# 정류장 정보. 좌표, NODE_ID기준 중복제거 필요
station_info=call_dataframe('Bus_Station_Info')

컬럼명 :  ['ROUTE_ID', '노선명', '순번', 'NODE_ID', 'ARS_ID', '정류소명', 'X좌표', 'Y좌표']

In [118]:
station_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46412 entries, 0 to 46411
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ROUTE_ID  46412 non-null  int64
 1   노선명       46412 non-null  object
 2   순번        46412 non-null  int64
 3   NODE_ID   46412 non-null  int64
 4   ARS_ID    46412 non-null  int64
 5   정류소명      46412 non-null  object
 6   X좌표       46412 non-null  float64
 7   Y좌표       46412 non-null  float64
dtypes: float64(2), int64(4), object(2)
memory usage: 2.8+ MB

In [119]:
station_info.nunique()

ROUTE_ID      771
노선명           766
순번            187
NODE_ID     13491
ARS_ID      13448
정류소명         8479
X좌표         13488
Y좌표         13485
dtype: int64

In [120]:
# 중복된 정류소 제거
station_info.drop_duplicates(subset="NODE_ID",inplace=True)

In [121]:
station_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13491 entries, 0 to 46411
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ROUTE_ID  13491 non-null  int64
 1   노선명       13491 non-null  object
 2   순번        13491 non-null  int64
 3   NODE_ID   13491 non-null  int64
 4   ARS_ID    13491 non-null  int64
 5   정류소명      13491 non-null  object
 6   X좌표       13491 non-null  float64
 7   Y좌표       13491 non-null  float64
dtypes: float64(2), int64(4), object(2)
memory usage: 948.6+ KB

In [122]:
station_info.nunique()

ROUTE_ID      673
노선명           672
순번            186
NODE_ID     13491
ARS_ID      13448
정류소명         8479
X좌표         13488
Y좌표         13485
dtype: int64

In [123]:
# 중복된 정류소 제거된 DF
station_info

,ROUTE_ID,노선명,순번,NODE_ID,ARS_ID,정류소명,X좌표,Y좌표
0,100100073,470,66,100000001,1001,종로2가사거리,126.987750,37.569765
3,100100007,102,31,100000002,1002,창경궁.서울대학교병원,126.996566,37.579183
23,100100007,102,30,100000003,1003,명륜3가.성대입구,126.998340,37.582671
43,100100001,01,23,100000004,1004,종로2가.삼일교,126.987613,37.568579
52,100100007,102,29,100000005,1005,혜화동로터리.여운형활동터,127.001744,37.586243
...,...,...,...,...,...,...,...,...
46407,100100402,9709,121,277103898,63629,조리사거리(경유),126.801589,37.747464
46408,100100551,673,84,277104249,15452,고강지하차도입구(경유),126.815691,37.537815
46409,100100551,673,26,277104250,15451,고강지하차도입구(경유),126.815765,37.537420
46410,100100551,673,85,277104251,15453,원종IC(경유),126.805608,37.533829
46411,100100551,673,25,277104252,15450,원종IC(경유),126.805695,37.533395

In [124]:
# 시간별 버스 운행 대수 DF
bus_hour_num=call_dataframe('Bus_Service_Info')

컬럼명 :  ['업체명', '노선번호', '유형', '기점명', '종점명', '인가대수', '배차간격', '거리', '운행시간', '최소배차', '최대배차', '첫차시간', '막차시간']

In [125]:
# 시간당 배차 대수 컬럼 형성 
bus_hour_num["배차대수"] = round(60/bus_hour_num["배차간격"],1)

In [126]:
# 특정 컬럼 지정
bus_hour_num = bus_hour_num[['노선번호','기점명', '종점명','배차대수']]

In [127]:
bus_hour_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688 entries, 0 to 687
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   노선번호    688 non-null    object
 1   기점명     688 non-null    object
 2   종점명     688 non-null    object
 3   배차대수    688 non-null    float64
dtypes: float64(1), object(3)
memory usage: 21.6+ KB

In [128]:
bus_hour_num.nunique()

노선번호    620
기점명     355
종점명     371
배차대수     40
dtype: int64

In [129]:
# routeid와 노선명. 중간 이을 
route_id_name=call_dataframe('Bus_Route_Id')

컬럼명 :  ['노선명', 'ROUTEID']

In [130]:
route_id_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674 entries, 0 to 673
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   노선명      674 non-null    object
 1   ROUTEID  674 non-null    int64
dtypes: int64(1), object(1)
memory usage: 10.7+ KB

In [131]:
route_id_name.nunique()

노선명        674
ROUTEID    674
dtype: int64

In [132]:
# 재차인원 루트id와 노선명 머지하기
import pandas as pd
bus_passengers_20230605_merge1=pd.merge(left = bus_passengers_20230605,right= route_id_name,how="inner",left_on="노선_ID",right_on="ROUTEID")

In [133]:
bus_passengers_20230605_merge1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37792 entries, 0 to 37791
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기준_날짜      37792 non-null  int64
 1   노선_ID      37792 non-null  int64
 2   출발_정류장_ID  37792 non-null  int64
 3   도착_정류장_ID  37792 non-null  int64
 4   정류장_순서     37792 non-null  int64
 5   재차인원합_6시   34709 non-null  float64
 6   재차인원합_7시   34255 non-null  float64
 7   재차인원합_8시   33986 non-null  float64
 8   재차인원합_9시   33768 non-null  float64
 9   노선명        37792 non-null  object
 10  ROUTEID    37792 non-null  int64
dtypes: float64(4), int64(6), object(1)
memory usage: 3.5+ MB

In [134]:
bus_passengers_20230605_merge1.nunique()

기준_날짜            1
노선_ID          629
출발_정류장_ID    12366
도착_정류장_ID    12336
정류장_순서         186
재차인원합_6시       469
재차인원합_7시       457
재차인원합_8시       377
재차인원합_9시       327
노선명            629
ROUTEID        629
dtype: int64

In [135]:
# 컬럼 추출
bus_passengers_20230605_merge1 = bus_passengers_20230605_merge1[['기준_날짜', '노선_ID','노선명', '출발_정류장_ID', '도착_정류장_ID', '정류장_순서', '재차인원합_6시',
       '재차인원합_7시', '재차인원합_8시', '재차인원합_9시']]

In [136]:
# null값 제거
bus_passengers_20230605_merge1.dropna(axis=0,inplace=True)

In [137]:
# 노선명과 재차인원 합친 DF
bus_passengers_20230605_merge1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33432 entries, 0 to 37791
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기준_날짜      33432 non-null  int64
 1   노선_ID      33432 non-null  int64
 2   노선명        33432 non-null  object
 3   출발_정류장_ID  33432 non-null  int64
 4   도착_정류장_ID  33432 non-null  int64
 5   정류장_순서     33432 non-null  int64
 6   재차인원합_6시   33432 non-null  float64
 7   재차인원합_7시   33432 non-null  float64
 8   재차인원합_8시   33432 non-null  float64
 9   재차인원합_9시   33432 non-null  float64
dtypes: float64(4), int64(5), object(1)
memory usage: 2.8+ MB

In [138]:
# 시간당 배차대수 병합
bus_passengers_20230605_merge2=pd.merge(left=bus_passengers_20230605_merge1,right=bus_hour_num ,how="inner",left_on="노선명",right_on="노선번호")

In [139]:
bus_passengers_20230605_merge2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32873 entries, 0 to 32872
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기준_날짜      32873 non-null  int64
 1   노선_ID      32873 non-null  int64
 2   노선명        32873 non-null  object
 3   출발_정류장_ID  32873 non-null  int64
 4   도착_정류장_ID  32873 non-null  int64
 5   정류장_순서     32873 non-null  int64
 6   재차인원합_6시   32873 non-null  float64
 7   재차인원합_7시   32873 non-null  float64
 8   재차인원합_8시   32873 non-null  float64
 9   재차인원합_9시   32873 non-null  float64
 10  노선번호       32873 non-null  object
 11  기점명        32873 non-null  object
 12  종점명        32873 non-null  object
 13  배차대수       32873 non-null  float64
dtypes: float64(5), int64(5), object(4)
memory usage: 3.8+ MB

In [140]:
bus_passengers_20230605_merge2.nunique()

기준_날짜            1
노선_ID          494
노선명            494
출발_정류장_ID    11262
도착_정류장_ID    11244
정류장_순서         159
재차인원합_6시       395
재차인원합_7시       451
재차인원합_8시       373
재차인원합_9시       313
노선번호           494
기점명            277
종점명            311
배차대수            27
dtype: int64

In [141]:
bus_passengers_20230605_merge1.nunique()

기준_날짜            1
노선_ID          538
노선명            538
출발_정류장_ID    11528
도착_정류장_ID    11508
정류장_순서         159
재차인원합_6시       400
재차인원합_7시       457
재차인원합_8시       377
재차인원합_9시       323
dtype: int64

In [145]:
bus_passengers_20230605_merge2=bus_passengers_20230605_merge2[['기준_날짜', '노선_ID', '노선명', '출발_정류장_ID', '도착_정류장_ID', '정류장_순서','배차대수', '재차인원합_6시',
       '재차인원합_7시', '재차인원합_8시', '재차인원합_9시']]

In [146]:
bus_passengers_20230605_merge2

,기준_날짜,노선_ID,노선명,출발_정류장_ID,도착_정류장_ID,정류장_순서,배차대수,재차인원합_6시,재차인원합_7시,재차인원합_8시,재차인원합_9시
0,20230605,100100001,01,100000004,101000001,23,7.5,10.0,16.0,13.0,12.0
1,20230605,100100001,01,100000023,100000415,16,7.5,17.0,94.0,93.0,281.0
2,20230605,100100001,01,100000104,100000413,21,7.5,5.0,15.0,14.0,13.0
3,20230605,100100001,01,100000413,100000004,22,7.5,10.0,16.0,17.0,17.0
4,20230605,100100001,01,100000415,100000416,17,7.5,15.0,82.0,71.0,241.0
...,...,...,...,...,...,...,...,...,...,...,...
32868,20230605,124900003,강동02,124900124,124900122,56,3.8,51.0,36.0,33.0,24.0
32869,20230605,124900003,강동02,124900127,124900129,2,3.8,1.0,9.0,3.0,4.0
32870,20230605,124900003,강동02,124900128,124900111,76,3.8,7.0,6.0,4.0,3.0
32871,20230605,124900003,강동02,124900129,124000459,3,3.8,6.0,15.0,7.0,4.0
32872,20230605,124900003,강동02,124900130,124900128,75,3.8,8.0,6.0,4.0,4.0

In [147]:
bus_passengers_20230605_merge3 = pd.merge(left=bus_passengers_20230605_merge2,right=station_info,how="inner",left_on="출발_정류장_ID",right_on="NODE_ID")

In [148]:
bus_passengers_20230605_merge3=bus_passengers_20230605_merge3[['기준_날짜', '노선_ID', '노선명_x',"정류소명", '출발_정류장_ID', '도착_정류장_ID', '정류장_순서', '배차대수',
       '재차인원합_6시', '재차인원합_7시', '재차인원합_8시', '재차인원합_9시','X좌표', 'Y좌표']]

In [149]:
bus_passengers_20230605_merge3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32865 entries, 0 to 32864
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기준_날짜      32865 non-null  int64
 1   노선_ID      32865 non-null  int64
 2   노선명_x      32865 non-null  object
 3   정류소명       32865 non-null  object
 4   출발_정류장_ID  32865 non-null  int64
 5   도착_정류장_ID  32865 non-null  int64
 6   정류장_순서     32865 non-null  int64
 7   배차대수       32865 non-null  float64
 8   재차인원합_6시   32865 non-null  float64
 9   재차인원합_7시   32865 non-null  float64
 10  재차인원합_8시   32865 non-null  float64
 11  재차인원합_9시   32865 non-null  float64
 12  X좌표        32865 non-null  float64
 13  Y좌표        32865 non-null  float64
dtypes: float64(7), int64(5), object(2)
memory usage: 3.8+ MB

In [95]:
bus_passengers_20230605_merge3.nunique()

기준_날짜            1
노선_ID          494
노선명_x          494
출발_정류장_ID    11260
도착_정류장_ID    11242
정류장_순서         159
배차대수            27
재차인원합_6시       395
재차인원합_7시       451
재차인원합_8시       373
재차인원합_9시       313
ROUTE_ID       565
노선명_y          564
순번             172
NODE_ID      11260
ARS_ID       11237
정류소명          7293
X좌표          11257
Y좌표          11255
dtype: int64

In [150]:
bus_passengers_20230605_merge2.nunique()

기준_날짜            1
노선_ID          494
노선명            494
출발_정류장_ID    11262
도착_정류장_ID    11244
정류장_순서         159
배차대수            27
재차인원합_6시       395
재차인원합_7시       451
재차인원합_8시       373
재차인원합_9시       313
dtype: int64

In [153]:
bus_passengers_20230605_merge3.columns

Index(['기준_날짜', '노선_ID', '노선명_x', '정류소명', '출발_정류장_ID', '도착_정류장_ID', '정류장_순서',
       '배차대수', '재차인원합_6시', '재차인원합_7시', '재차인원합_8시', '재차인원합_9시', 'X좌표', 'Y좌표'],
      dtype='object')

In [169]:
bus_passengers_20230605_merge3=bus_passengers_20230605_merge3.sort_values(by=["노선_ID","정류장_순서"])

In [172]:
# 버스별 재차인원으로 값 변경
bus_passengers_20230605_merge3['재차인원_6시'] = round(bus_passengers_20230605_merge3['재차인원합_6시']/bus_passengers_20230605_merge3['배차대수'],1)
bus_passengers_20230605_merge3['재차인원_7시'] = round(bus_passengers_20230605_merge3['재차인원합_7시']/bus_passengers_20230605_merge3['배차대수'],1)
bus_passengers_20230605_merge3['재차인원_8시'] = round(bus_passengers_20230605_merge3['재차인원합_8시']/bus_passengers_20230605_merge3['배차대수'],1)
bus_passengers_20230605_merge3['재차인원_9시'] = round(bus_passengers_20230605_merge3['재차인원합_9시']/bus_passengers_20230605_merge3['배차대수'],1)

In [176]:
bus_passengers_20230605_merge3.columns

Index(['기준_날짜', '노선_ID', '노선명_x', '정류소명', '출발_정류장_ID', '도착_정류장_ID', '정류장_순서',
       '배차대수', '재차인원합_6시', '재차인원합_7시', '재차인원합_8시', '재차인원합_9시', 'X좌표', 'Y좌표',
       '재차인원_6시', '재차인원_7시', '재차인원_8시', '재차인원_9시'],
      dtype='object')

In [177]:
bus_passengers_20230605_final=bus_passengers_20230605_merge3[['기준_날짜', '노선_ID', '노선명_x', '정류소명', '출발_정류장_ID', '도착_정류장_ID', '정류장_순서',
       '배차대수', '재차인원_6시', '재차인원_7시', '재차인원_8시', '재차인원_9시', 'X좌표', 'Y좌표',
       ]]

In [178]:
import pickle
with open("bus_passengers_20230605_final", "wb") as f:
        pickle.dump(bus_passengers_20230605_final, f)